{% extends 'base.html' %}

{% block title %}Post Details{% endblock %}

{% block content %}
    <h1>{{post.title}}</h1>
    <p>{{post.content}}</p>
    <p><i>By {{post.user.full_name}}</i></p>
    <p>
        <b>Tags:</b>
        {% for t in post.tags %}
        <a href="/tags/{{t.id}}" class="badge text-bg-primary text-decoration-none">{{t.name}}</a>
        {% endfor %}
    </p>
    <form>
        <input type="submit" value="Cancel" class="btn btn-outline-info" formaction="/users/{{post.user_id}}">
        <input type="submit" value="Edit" class="btn btn-primary" formaction="/posts/{{post.id}}/edit">
        <input type="submit" class="btn btn-danger" value="Delete" formaction="/posts/{{post.id}}/delete" formmethod="POST">
    </form>
{% endblock %}